<div class="pb-5 pt-4" style="
background-image: url('https://raw.githubusercontent.com/2021-B-Web-Avanzada/wavan-lopez-prikhodko-diana-stefania/desarrollo/Examen%2002%20-%20Lopez%20Diana/examen02/src/Imagenes/FondoInicio.png');
background-repeat: no-repeat;
background-size: cover;
width: 100%;">

  <h1 style="display: flex;  align-items: center;  justify-content: center; margin: 3%"><code>¡CONTINÚA LA PALABRA!</code></h1>

  <div style="margin-left: 5%">
    <div class="card col-7" style="width: 20rem;">
      <div class="card-body">

        <h3 class="card-title h5" style="text-align: center"><code>¡Únete y diviértete con tus amigos!</code></h3>

        <div class="card-text" style="display: flex;  align-items: center;  justify-content: center;">
          <form class="col-10">
            <div class="form-group" style="margin-top: 2ch">
              <label for="apodoNombre">Apodo o nombre:</label>
              <input type="text" class="form-control" id="apodoNombre" placeholder="Ingrese su apodo o nombre">
            </div>
            <div class="form-group" style="margin-top: 2ch">
              <label for="numeroSala">Número de sala:</label>
              <input type="text" class="form-control" id="numeroSala" placeholder="Ingrese su número de sala">
            </div>
            <button type="submit" class="btn btn-primary"
                    style="margin-top: 2ch; width: 100%">Entrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

